# .NET
bin/
obj/
*.user
*.suo
*.vs/
*.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

node_modules/


# Docker
**/out/
**/docker-compose.override.yml

# Logs
*.log

# Config locales
appsettings.Development.json
readme.md